@model UniversityPortal.Models.SignUpUserModel

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <form asp-action="SignUp" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-group ">

                                        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-group">

                                        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">

                                <input asp-for="Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-group">

                                        <input asp-for="ContactNo" class="form-control" placeholder="Contact No" />
                                        <span asp-validation-for="ContactNo" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-group">

                                        <input asp-for="UserId" class="form-control" placeholder="User ID" />
                                        <span asp-validation-for="UserId" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-group">

                                        <input asp-for="Gender" class="form-control" placeholder="Gender" />
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-group">

                                        <input asp-for="DateOfBirth" class="form-control" placeholder="Date Of Birth" />
                                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group mb-4">

                                <input asp-for="Password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4">

                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Register" class="btn btn-success btn-block btn-lg" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
